@model BASIC_PROJECT_Model.Models.Customer

@{
    ViewBag.Title = "Chỉnh sửa khách hàng";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Chỉnh sửa khách hàng</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CustomerId)

    <div class="form-group">
        @Html.LabelFor(m => m.FullName)
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
}
